.stats-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
    font-size: 26px;
    margin: 20px;
}
.stats-container {
    border-radius: 20px;
    margin: 0px;
    padding: 1px;
    background-color: #3683af;
    color: #eaeaea;
    height: 560px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
