.scroll-less {
    overflow: hidden;
}

.background {
    height: 120vh;
    background-color: #fe654f;
    background-image: repeating-linear-gradient(130deg, #b54839, transparent 10px, transparent 20px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
}

.return-button {
    border-radius: 20px;
    width: 250px;
    height: 60px;
    background-color: rgba(34, 26, 71, 0.7);
    margin-top: 2%;
    margin-left: 7%;
    font-weight: bold;
    font-size: medium;
    color: white;
    font-family: 'Verdana', sans-serif;
}

.return-button:hover {
    background-color: rgba(34, 26, 71, 1);
    cursor: pointer;
}

#history-title {
    font-family: 'Cherry Bomb One', cursive;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin-bottom: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
}

.list-container {
    position: relative;
    width: 1000px;
    margin: 5% auto 0;
    margin-top: 20px;
    background-color: #3683af;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul {
    list-style: none;
}

.sorting-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.sorting-dropdown,
.reset-button {
    display: flex;
    margin: 100px;
    margin-bottom: 0%;
    margin-top: 0%;
    align-items: center;
}

.empty-history-message {
    font-family: 'Cherry Bomb One', cursive;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    text-align: center;
    font-size: large;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sorting-dropdown label {
    font-size: 20px;
    margin-right: 10px;
    font-family: 'Cherry Bomb One', cursive;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
    font-weight: bold;
}

.sorting-dropdown select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-image: url('../../../assets/dropdown-arrow.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 20px;
    background-color: #ffffff;
    padding-right: 30px;
    font-family: 'Cherry Bomb One', cursive;
    color: #3683af;
}

.sorting-dropdown select option {
    background-color: #ffffff;
    font-family: 'Cherry Bomb One', cursive;
    color: #3683af;
    font-size: 16px;
}

.reset-button button {
    box-shadow: 3px 3px 5px white;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #3683af;
    font-family: 'Cherry Bomb One', cursive;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.reset-button button:hover {
    background-color: #245775;
}
