<body>
    <div class="container justified">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />

        <h1 class="header-item"><br /><img src="assets/quizzblitz.png" alt="logo" width="150" /><br />{{ title }}</h1>
        <section id="server-message" class="justified">
            <div class="justified">
                <img class="qsmark" src="assets/question-mark-5202742-4347244.png" alt="question mark" />
                <button class="firstbutton" routerLink="/joingame">Joindre une partie</button>
                <span>
                    <button class="button" routerLink="/creategame">Créer une partie</button>
                    <button class="button" routerLink="/password">Administrer les jeux</button>
                </span>
                <img class="alarm" src="assets/alarm-clock-icon-3d-render-png.webp" alt="alarm" />
            </div>
        </section>

        <footer class="footer-item">
            <h4 class="team-name">Equipe : 101</h4>
            <p>
                <span>Lina Belloui</span>, <span>Manel Abroudj</span>, <span>Clément Valero</span>, <span>Mathieu Brulotte</span>,
                <span>Diego Campos</span>, <span>Charles Francis Damedey</span>
            </p>
        </footer>
    </div>
</body>
