<p class="points">{{ points }} points</p>
<h1>{{ title }}</h1>
<p class="description">{{ description }}</p>
<div class="answer-container">
    <div *ngIf="questionType === 'QCM'">
        <button
            type="button"
            class="selected locked-in correct-choice-test"
            *ngFor="let choice of choices; let i = index"
            [class.selected]="selectedAnswers.includes(choices[i]) && isAllowedToChange"
            [class.locked-in]="selectedAnswers.includes(choices[i]) && !isAllowedToChange"
            [class.correct-choice-test]="showRightAnswersTest && answers.includes(choices[i])"
            (click)="onClick($event)"
            id="{{ choice }}"
        >
            {{ i + 1 + '.' }} {{ choice }}
        </button>
    </div>
    <div *ngIf="questionType === 'QRL' && isAllowedToChange">
        <textarea
            id="myTextArea"
            name="myTextArea"
            rows="6"
            cols="50"
            [(ngModel)]="inputText"
            [attr.maxlength]="maxQRLTextLength"
            (input)="textUpdated()"
        ></textarea>
        <p>Il vous reste : {{ showRemainingCaracters() }} caracteres</p>
    </div>
    <div *ngIf="questionType === 'QRL' && !isAllowedToChange">
        <p>Votre réponse a bien été envoyée. Vous ne pouvez plus la modifier.</p>
    </div>
</div>
