<html>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet" />
    <body>
        <div class="background">
            <app-navbar></app-navbar>
            <h2 id="admin-title">Page d'administration</h2>
            <div class="container">
                <div class="form-container">
                    <form (ngSubmit)="onSubmit()" id="admin-form">
                        <label for="input">Entrez le mot de passe administrateur afin d'accéder à cette page :</label>
                        <input
                            type="password"
                            required
                            id="input"
                            name="input"
                            placeholder="Mot de passe..."
                            [ngClass]="{ error: incorrectPassword }"
                            [(ngModel)]="password"
                        />
                        <div *ngIf="incorrectPassword" class="error-message">Mot de passe incorrect. Veuillez réessayer.</div>
                        <button type="submit">Valider</button>
                    </form>
                </div>
            </div>
            <button class="retour" routerLink="/home">Retour à la page principale</button>
        </div>
    </body>
</html>
