body {
    overflow: hidden;
}

.background {
    background-color: #fe654f;
    background-image: repeating-linear-gradient(
        130deg,
        #b54839,
        // #B54839 10px,
        transparent 10px,
        transparent 20px
    );

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

#admin-title {
    font-family: 'Cherry Bomb One', cursive;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
}

.container {
    width: 1000px;
    height: 350px;
    margin: 5% auto 0;
    background-color: #3683af;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.retour {
    border-radius: 20px;
    width: 250px;
    height: 60px;
    background-color: rgba(34, 26, 71, 0.7);
    margin-top: 2%;
    margin-left: 7%;
    font-weight: bold;
    font-size: medium;
    color: white;
    font-family: 'Verdana', sans-serif;
}

.retour:hover {
    background-color: rgba(34, 26, 71, 1);
    cursor: pointer;
}

.form-container {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type='password'] {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: text;
    font-size: x-large;
    margin: auto;
}

button[type='submit'] {
    padding: 10px 20px;
    background-color: rgba(34, 26, 71, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
    margin: auto;
    margin-top: 5%;
}

button[type='submit']:hover {
    background-color: rgba(34, 26, 71, 1);
}

label {
    font-weight: bold;
    color: white;
    font-family: 'Verdana', sans-serif;
    padding-top: 1.5%;
    font-size: x-large;
}

label,
input,
button {
    display: block;
    margin-bottom: 50px;
}

.error-message {
    color: #b54839;
    font-size: x-large;
    margin-top: 2%;
}
