.scorer {
    display: flex;
    border-radius: 200px;
    background-color: #802f7e;
    justify-self: center;
    align-self: center;
    color: #eaeaea;
    width: 175px;
    height: 175px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.scorer-count {
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
